* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Helvetica,sans-serif;
    color: white;
}

/* ==== Header ==== */

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 200px;
    background-color: #151515;
    border-bottom: 0.1px solid gold;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.header-logo img {
    width: 220px;

}

.header-nav {
    padding: 5px;
}

.nav-itens {
    display: flex;
    gap: 45px;
}

.nav-itens a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.nav-itens a:hover {
    color: gold;
    transform: scale(1.2);
}

/* ==== Section - Sobre Mim ==== */

#section-about {
    padding: 150px 0px 0px;
    width: 100%;
    display: flex;
    background-color: #212121;
}

.about-left {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
    margin-left: 50px;
    text-align: center;
    gap: 20px;
}

.about-left p {
    padding: 0 7.5vw;
}

.about-left button {
    padding: 5px 15px;
    border-radius: 5px;
    border-style: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: #313131;
    font-weight: bold;
    transition: 0.5s;
}

.about-left button:hover {
    color: gold;
}

.about-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 5em;    
}

.about-right img {
    width: 300px;
    border-radius: 255px;

}

/* ==== Section - Skills ==== */

#section-skills {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #313131;
}

#section-skills h2 {
    color: gold;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.skill-item {
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.skill-item img {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 1s ease;
}

.skill-item img:hover {
    transform: rotate(360deg);
}

/* ==== Section - Trabalhos ==== */

#section-works {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    padding: 4em;
}

#section-works h2 {
    color: gold;
}

.works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.5em;
}

.work-item {
    width: 25vw;
    height: 53vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
}

.work-item img {
    width: 20vw;
    height: 40vh;
    border-radius: 25px;
    border: 2px solid white;
}

.work-item p {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.work-item img:hover {
    transform: scale(1.08);
    transition: 0.5s;
    cursor: pointer;
}

/* ==== Section - Contatos ==== */

#section-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #313131;
    padding-top: 30px;
}

#section-contact h2 {
    color: gold;

}

.contacts {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
    /* ==== Section - Contatos LEFT ==== */

.contacts-left {
    background-color: #060D15;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.contacts-left form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10px;
    width: 500px;
    color: black;
}

.form-header {
    
    text-align: center;
    padding-bottom: 15px;
}

.form-header p {
    color: white;
    font-size: 20px;
}

.form-main {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    align-items: left;
}

.form-main input, textarea {
    width: 100%;
    font-size: 1.3rem;
    color: #f8fafc;
    padding: 0.2rem 0.5rem;
    background-color: white;
    color: black;
    border: hidden;    
}

.form-main textarea {
    resize: none;
}

.form-button {
    display: flex;
    justify-content: end;
}

.form-button button{
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    color: black;
    background-color: whitesmoke;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 10px;
}

.form-button button:hover{
    transform: scale(1.05);
}

    /* ==== Section - Contatos RIGHT ==== */

.contacts-right {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2em;
    margin-bottom: 10vh;
    margin-right: 150px;
}

.contacts-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.contacts-box h4 {
    font-size: 24px;
}

.contacts-box p {
    font-size: 20px;
}

.contacts-options {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.contact-item img {
    width: 60px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 1s ease;
}

.contact-item img:hover {
    transform: rotate(360deg);
}


/* ==== Footer ==== */

.footer-tag {
    width: 100%;
    font-size: 14px;
    text-align: center;
    background-color: #202020;
    padding: 10px;
}

.footer-tag small {
    color: white;
}