* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==== Header ==== */

header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(58, 58, 58);
}

.header-logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    width: 150px;
}

.header-nav {
    width: 50%;
    padding-left: 5%;
}

.nav-itens {
    display: flex;
    gap: 25px;
}

.nav-itens a {
    color: white;
    text-decoration: none;
}

/* ==== Section - Sobre Mim ==== */

#section-about {
    width: 100%;
    display: flex;
    background-color: #f3f3f2;
}

.about-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
    text-align: center;
    gap: 20px;
}

.about-right {
    width: 50%;
    padding: 5em;    
}

.about-right img {
    width: 300px;
}

/* ==== Section - Skills ==== */

#section-skills {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.skill-item img {
    width: 100px;
    border: 2px solid lightgray;
    border-radius: 50px;
}

/* ==== Section - Trabalhos ==== */

#section-works {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f2;
    padding: 4em;
}

.works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5em;
    grid-column-gap: 1em;
}

.work-item {
    width: 25vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-item img {
    width: 20vw;
}

.work-item:hover {
    background-color: lightgray;
    cursor: pointer;
}